<div class="text-center" id="nombre-juego">
  <h3 id="nombre-juego">JUEGO DEL AHORCADO</h3>
</div>
<div class="conjunto card">
<div class="row">
  <div class="col text-center">
   <img src="assets/img/{{ intentos }}.png" class="ahorcado-img">
   <h3>Intentos <small> {{ intentos }}/ 9</small></h3>
</div>
</div>

<div class="row">
    <div class="col text-center">
     <h1>{{ palabraOculta }}</h1>
  </div>
</div>

<div class="row">
    <div class="col text-center" *ngIf="gano">
     <h1>Felicidades Ganaste!!!</h1>
     <h4>:D</h4>
  </div>
</div>

<div class="row">
    <div class="col text-center" *ngIf="perdio">
     <h1>Lo siento perdiste :C !!!</h1>
     <h4>{{ palabra }}</h4>
  </div>
</div>

<div class="row" *ngIf="!gano && !perdio">
    <div class="col text-center">
    <button (click)="comprobar( letra )" *ngFor="let letra of letras" class="btn btn-primary">
      {{ letra }}
    </button>
   
  </div>
</div>
</div>